@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add custom styles below */
.block-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	border-top: 1px solid black;
	border-right: 1px solid black;

	span {
		padding: 8px 4px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}
}
